<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371816515793-a9no5ijf3tvh0kqm6p69rn54btikjpf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371816515793-a9no5ijf3tvh0kqm6p69rn54btikjpf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBGgAW1rvS4b8tezaA3QMHtU9RXdT5-xCc</string>
	<key>GCM_SENDER_ID</key>
	<string>371816515793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BDP-Kevin.Kairos</string>
	<key>PROJECT_ID</key>
	<string>kairos-7a0bc</string>
	<key>STORAGE_BUCKET</key>
	<string>kairos-7a0bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:371816515793:ios:b9fee733da499ac0</string>
	<key>DATABASE_URL</key>
	<string>https://kairos-7a0bc.firebaseio.com</string>
</dict>
</plist>